services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    entrypoint: ["sh", "-c"]
    command: >
      "ollama serve &
       sleep 3 &&
       ollama pull mistral &&
       wait"

  backend:
    build: ./projetmanga-server
    container_name: backend
    restart: unless-stopped
    depends_on:
      - ollama
      - mongo
    environment:
      - OLLAMA_URL=http://ollama:11434
      - MONGO_URI=mongodb://mongo:27017/manga_bdd
      - JWT_SECRET=superSecretMangaKey
      - JWT_EXPIRES=1h
      - NODE_ENV=development
    ports:
      - "3000:3000"

  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  ollama_data:
  mongo_data:
